nav {
    background-color: lightgreen;
    color: rgb(150, 69, 69);
    padding: 13px;
    font-size: 25px;
    display: flex;
    /* Add flex display to align items horizontally */
    justify-content: space-between;
    /* Add space between items */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
}

.nav-links {
    display: flex;
    /* Add flex display to align links horizontally */
}

.head {
    display: flex;
    background-color: rgb(23, 34, 45);
}

.nav-links li {
    margin-right: 10px;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

a:hover {
    background-color: #555;
}

#log {
    background-color: aquamarine;
    color: rgb(148, 64, 64);
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-top: 50px;
}

form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 50px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-top: 10px;
}
 